{% extends "page.html" %}

{% block pageContent %}
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Options</li>
        <li>
            <a href="/downloads/all">Download All</a>
        </li>
    </ul>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Pending</li>
        {% for episode in downloads %}
            <li>
                {{ episode.num }}
                {{ episode.name }}
            </li>
        {% endfor %}
    </ul>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Downloading</li>
        {% for download in downloading %}
            <li>
                {{ download.episode.num }}
                {{ download.episode.name }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
