{% extends "page.html" %}

{% block pageContent %}
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Options</li>
        <li>Refresh all ?</li>
    </ul>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Episodes list</li>
        {% for episode in season.episodes %}
            <li>
                <a href="{{ url_for('episode', id_serie=serie.id, episode_num=episode.num) }}">
                    {{ episode.num }}
                    {{ episode.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
