{% extends "page.html" %}

{% block pageContent %}
    <ul data-role="listview">
        <li data-role="list-divider">Options</li>
        <li>Enables Yes/No</li>
    </ul>

    <ul data-role="listview">
        <li data-role="list-divider">Seasons</li>
        {% for season in serie.seasons %}
            <li>
                <a href="{{ url_for('episodes', serie_id=serie.id, season_num=season.num) }}">{{ season.num }}</a>
                {{ season.episodes|length }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}