{% extends "page.html" %}

{% block pageContent %}
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Options</li>
        <li><a href="/sync/disk">Sync All with disk</a></li>
    </ul>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Series list</li>
        {% for serie in series %}
            <li>
                <a href="{{ url_for('serie', id=serie.id) }}">
                    {% if serie.name %}
                        [*] {{ serie.name }}
                    {% else %}
                        [ ] {{ serie.path }}
                    {% endif %}
                </a>
                {{ serie.seasons|length }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
