{% extends "page.html" %}

{% block pageContent %}
    <ul data-role="listview">
        {% for serie in series %}
            <li>
                <a href="{{ url_for('serie', id=serie.id) }}">
                    {% if serie.name %}
                        [*] {{ serie.name }}
                    {% else %}
                        [ ] {{ serie.path }}
                    {% endif %}
                </a>
                {{ serie.seasons|length }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
