{% extends "layout.html" %}

{% block content %}
    <h1>{{ serie.name }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Season Num</th>
                <th>Nb Episodes</th>
            </tr>
        </thead>
        <tbody>{% for season in serie.seasons %}
            <tr>
                <td><a href="{{ url_for('episodes', serie_id=serie.id, season_num=season.num) }}">{{ season.num }}</a></td>
                <td>{{ season.episodes|length }}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
{% endblock %}